.product {
    padding: 100px 0;
    background-color: #f1f1f1;
    min-width: 1200px; }
.product h2 {
    margin: 0 auto 40px;
    text-align: center;
    width: 1200px;
    color: #666; }
.product ul {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    *zoom: 1; }
.product ul:before, .product ul:after {
    content: "";
    display: table; }
.product ul:after {
    clear: both; }
.product ul li {
    float: left;
    display: inline;
    width: 300px;
    margin: 0 20px 40px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 3px #ccc;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
.product ul li img {
    width: 300px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.product ul li img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
.product ul li h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #777;
    font-size: 16px;
    font-weight: normal; }
.product ul li p {
    margin: 0 0 10px;
    color: #999;
    font-size: 13px;
    line-height: 21px;
    height: 42px;
    overflow: hidden;
    /*text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;*/ }
.btn {
    border-radius: 4px;
    border: 1px solid #3baca5;
    background-color: #3baca5;
    color: #fff;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0; }
.btn:hover {
    color: #999;
    border: 1px solid #999;
    background-color: #fff; }
.btn-normal {
    padding: 6px 16px;
    font-size: 14px; }